include dash_update_data_components/dash_update_data_components.min.js
include dash_update_data_components/dash_update_data_components.min.js.map
include dash_update_data_components/metadata.json
include dash_update_data_components/package-info.json
include README.md
include LICENSE
include package.json
